div{display:inline;}
body{
   font-family:Fira Sans;
  line-height:2em;
 background: linear-gradient(30deg,#CCFFFF,#FFCCCC) 
}
#name-label{
  position:relative;
  left:80%;
}

#email-label{
  position:relative;
  left:80.5%;
}

#age-label{
  position:relative;
  left:85.3%;
}

#gender-label{
  position:relative;
  left:77%;
}
#title{
 
  color: #023807;
  text-align:center;
font-size: 400%;
  margin-bottom:2%;
  font-family:Permanent Marker;
}
#sel{
  width:100px;
}
#description{
  margin-top: 1%;
  font-size:18px;
  text-align:center;
  font-family: Concert One;
  color: #023307;
}
form {
  margin-top:4%;
    display: grid;
    grid-template-columns:300px 300px ;
   width:70%;
  position:relative;
  left:23%;

}
 label {
    grid-column: 1/ 2;
   position:relative;

   
}

input,
select {

    grid-column: 2 / 3;
}
#realgenrelabel{
  position:relative;
  left:27%;
  bottom:18%;
}
#level-label{
  
  position:relative;
  left:27%;
  bottom:18%;
}
.genrelabel{
  position: relative;
  bottom:38px;
  left:30px;

  grid-column: 2/3;
}
.radiolabel{
 grid-column:2/3;
  position: relative;
  bottom:38px;
  left:30px;
 
}
#love-label{
  position:relative;
  left:11%;
}
#love{
  height: 20px;
  width: 280px;
  padding: 5px;
  position:relative;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
 bottom:6px;
}
@media only screen and (max-width:800px){
  form{
    grid-template-columns:300px 250px;
  }
  #love{
    width:auto;
  }
  #title{
    line-height:1em;
  }
}
@media only screen and ( max-width:766px){
  #title{font-size: 3em;
  line-height:1em;}
 header{
  width:80%;
  height: auto;
 }

form {
  margin-top:4%;
display: grid;
  grid-template-columns:40% 60%;
  grid-column-gap:40px;
  position:relative;
  left:9%;
}
#action-label{
  position: absolute;
  bottom:71.1%;
  
}
#rookie-label{
  position:absolute;
  bottom:28.5%;


}
#love{
  width:auto;
}
@media only screen and (max-width:461px){
  #action-label{
    bottom:73.2%;
  }
#rookie-label{
 bottom:31%; 
}

@media only screen and (max-width:400px){
  #action-label{
    bottom:74.1%;
  }
#rookie-label{
 bottom:33%; 
}

}
